# --- DISCORD CONFIGURATION ---
DISCORD_TOKEN="Token"                   # Your Discord Bot Token from the Discord Developer Portal
WEBHOOK_MONITORING_URL="https://..."    # Discord Webhook URL for bot status and heartbeat monitoring
SYSTEM_LANGUAGE="en"                    # Default system language ( e.g., en, it, fr )

# --- NETWORK CONFIGURATION ---
TUNNEL_URL="https://test.ddns.net"      # Your public DNS domain or IP (used for Webhook callbacks)
PORT=20187                              # Internal port where the Python webserver will listen

# --- DATABASE CONFIGURATION ---
DB_HOST="postgres"                      # Hostname of the database service (matches docker-compose service name)
DB_PORT=5432                            # Port for PostgreSQL (default is 5432)
DB_NAME="uexbot"                        # Name of the PostgreSQL database
DB_USER="uexuser"                       # Username for database authentication
DB_PASSWORD="superstrongpassword"       # Strong password for database authentication
ENCRYPTION_KEY = "KEY"                  # Strong ENCRYPTION KEY

# --- LOGGING ---
LOG_PATH="./bot.log"                    # Path where the bot will store its execution logs

# --- CERTBOT CONFIGURATION ---
CERTBOT_EMAIL="test@gmail.com"          # Email for Let's Encrypt registration and recovery
DOMAIN="yourdomain.com"                 # Your domain for SSL certificate generation